<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <style type="text/css" media="screen,print">
    html *
    {
      color: #000 !important;
      font-family: Arial !important;
    }
    h1 {
      text-align: center;
    }
  </style>

  <title>Torservers.net report for 02/14</title>

</head>

<body>
  
  <h1>Torservers.net exit relay report for 02/14</h1>
  
  <h2>Exit Relay statistics by physical host</h2>
  {% for host in hosts %}
    <h3>{{ host }}</h3>
    <img src="graphs/{{ host }}.svg" width="500">

  {% endfor %}
  <h2>Average exit traffic</h2>
  <table border="0px">
    <tr>
      <th>Physical host</th>
      <th>Average exit traffic</th>
    </tr>
    
  {% for host in host_averages %}
    <tr>
      <td>{{ host }}</td>
      <td>{{ host_averages[host] }} MByte/s</td>
    </tr>

  {% endfor %}
    <tr>
      <td><b>Average overall exit traffic</b></td>
      <td><b>{{ total_average }} MByte/s</b></td>
    </tr>
  </table>
  <h2>Accumulated exit volume</h2>
  <table border="0px">
    <tr>
      <th>Physical host</th>
      <th>Accumulated exit volume</th>
    </tr>
    
  {% for host in host_accumulated %}
    <tr>
      <td>{{ host }}</td>
      <td>{{ host_accumulated[host] }} TByte/s</td>
    </tr>

  {% endfor %}
    <tr>
      <td><b>Overall accumulated exit volume</b></td>
      <td><b>{{ host_accumulated_total }} TByte/s</b></td>
    </tr>
  </table>
  </body>
</html>
